@import "functions";

@color-text: #333;

// Replacement images

[src$='/static/7ad28095/plugin/lockable-resources/img/device.svg'] {
  .icon-img('device.svg', @color-text);
}

[src$='/static/7ad28095/images/svgs/notepad.svg'] {
  .icon-img('notepad.svg', @color-text);
}

//Styling
#header .page-header {
	background-color: rgb(0, 96, 167);
}

// Hacks

[src*='www.gravatar.com'] {
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
}

