@import "functions";

@color-text: #333;

// Replacement images

[src$='device.svg'] {
  .icon-img('device.svg', @color-text);
}

// Animations


// Hacks

[src*='www.gravatar.com'] {
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
}

